.home-container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg, #2eba7c, #2ebab7);
  height: 90vh;
}
.group-form-container {
  border-radius: 12px;
  border-width: 1px;
  border-color: black;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  border-style: solid;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.card-inside {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}
.input-label {
  margin-bottom: 0px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #475569;
}
.input-filed {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}
.calender {
  width: 600px;
  height: 600px;
}
